---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Sunnyside agency landing page">
  <!-- Header -->
  <header
    class="ground flex items-center justify-between bg-[#49bcf1] p-8 lg:p-12"
  >
    <div class="">
      <img src="/images/logo.svg" alt="logo" class="" />
    </div>
    <nav
      class="hidden lg:flex lg:items-center lg:justify-between lg:gap-[2.94rem]"
    >
      <ul class="lg:flex lg:gap-[2.92rem]">
        <li class="">
          <a
            href=""
            class="font-Barlow text-lg font-semibold leading-[1.5625rem] tracking-[-0.00806rem] text-[#fff]"
            >About</a
          >
        </li>
        <li class="">
          <a
            href=""
            class="font-Barlow text-lg font-semibold leading-[1.5625rem] tracking-[-0.00806rem] text-[#fff]"
            >Services</a
          >
        </li>
        <li class="">
          <a
            href=""
            class="font-Barlow text-lg font-semibold leading-[1.5625rem] tracking-[-0.00806rem] text-[#fff]"
            >Projects</a
          >
        </li>
      </ul>
      <button
        class="h-14 w-[8.75rem] rounded-[1.75rem] bg-[#fff] font-Fraunces text-[0.9375rem] uppercase leading-[1.5625rem] tracking-[-0.00669rem] text-[#24303E] hover:bg-[#77cdf5] hover:text-[#fff]"
        >Contact</button
      >
    </nav>
    <div class="lg:hidden">
      <img
        src="/public/images/icon-hamburger.svg"
        alt="icon-hamburger"
        class=""
      />
    </div>
  </header>
  <!-- Main -->
  <main>
    <!-- Hero Section -->
    <section
      class="bg-hero-background-mobile lg:bg-hero-background-desktop flex flex-col items-center justify-center gap-[3.25rem] bg-cover bg-center bg-no-repeat p-8 pb-32 pt-12"
    >
      <h1
        class="w-[20.4375rem] text-center font-Fraunces text-[2.5rem] font-black uppercase leading-normal tracking-[0.39063rem] text-[#fff]"
      >
        We are creatives
      </h1>
      <img src="/images/icon-arrow-down.svg" alt="" class="" />
    </section>
    <!-- Transform Your Brand Section -->
    <section
      class="flex flex-col-reverse items-center justify-center text-center"
    >
      <!-- Detailes  -->
      <div
        class="mx-6 my-16 flex w-[20.4375rem] flex-col items-center justify-center gap-6"
      >
        <h2
          class="font-Fraunces text-[2rem] font-black leading-normal tracking-[-0.01431rem] text-[#24303E]"
        >
          Transform your brand
        </h2>
        <p
          class="font-Barlow text-lg font-semibold leading-[1.875rem] tracking-[-0.00806rem] text-[#808397]"
        >
          We are a full-service creative agency specializing in helping brands
          grow fast. Engage your clients through compelling visuals that do most
          of the marketing for you.
        </p>
        <a
          href="#"
          class="font-Fraunces text-[0.9375rem] font-black uppercase leading-[1.5625rem] tracking-[0.0625rem] text-[#24303E]"
        >
          Learn more</a
        >
      </div>
      <!-- Image -->
      <div class="">
        <img src="/images/desktop/image-transform.jpg" alt="" class="" />
      </div>
    </section>
    <!-- Stand out to the right audience Section -->
    <section
      class="flex flex-col-reverse items-center justify-center text-center"
    >
      <!-- Detailes  -->
      <div
        class="mx-6 my-16 flex w-[20.4375rem] flex-col items-center justify-center gap-6"
      >
        <h2
          class="font-Fraunces text-[2rem] font-black leading-normal tracking-[-0.01431rem] text-[#24303E]"
        >
          Stand out to the right audience
        </h2>
        <p
          class="font-Barlow text-lg font-semibold leading-[1.875rem] tracking-[-0.00806rem] text-[#808397]"
        >
          Using a collaborative formula of designers, researchers,
          photographers, videographers, and copywriters, we&#39;ll build and
          extend your brand in digital places.
        </p>
        <a
          href="#"
          class="font-Fraunces text-[0.9375rem] font-black uppercase leading-[1.5625rem] tracking-[0.0625rem] text-[#24303E]"
        >
          Learn more</a
        >
      </div>
      <!-- Image -->
      <div class="">
        <img src="/public/images/desktop/image-stand-out.jpg" alt="" class="" />
      </div>
    </section>

    <!-- Graphic Design & Photography -->
    <section class="">
      <div
        class="bg-graphic-design-mobile lg:graphic-design-desktop flex flex-col items-center justify-center gap-[1.69rem] bg-cover bg-no-repeat pb-[3.69rem] pt-[24.87rem] text-center"
      >
        <h2
          class="font-Fraunces text-[1.75rem] font-black leading-normal tracking-[-0.0125rem] text-[#24554A]"
        >
          Graphic design
        </h2>
        <p
          class="w-[20.4375rem] font-Barlow text-base font-semibold leading-[1.6875rem] tracking-[-0.00713rem] text-[#24554A]"
        >
          Great design makes you memorable. We deliver artwork that underscores
          your brand message and captures potential clients&#39; attention.
        </p>
      </div>
      <div
        class="bg-image-photography-mobile lg:bg-image-photography-desktop flex flex-col items-center justify-center gap-[1.69rem] bg-cover bg-no-repeat pb-[3.69rem] pt-[24.87rem] text-center"
      >
        <h2
          class="font-Fraunces text-[1.75rem] font-black leading-normal tracking-[-0.0125rem] text-[#19536C]"
        >
          Photography
        </h2>
        <p
          class="w-[20.4375rem] font-Barlow text-base font-semibold leading-[1.6875rem] tracking-[-0.00713rem] text-[#19536C]"
        >
          Increase your credibility by getting the most stunning, high-quality
          photos that improve your business image.
        </p>
      </div>
    </section>
    <!-- CLIENT TESTIMONIALS -->
    <section class="">
      <!-- Title -->
      <div class="">
        <h2 class="">CLIENT TESTIMONIALS</h2>
      </div>
      <!-- Clients Detailes -->
      <div class="flex items-center justify-between gap-[1.87rem]">
        <!-- Client 1 -->
        <div class="">
          <!-- Client Image -->
          <div class="">
            <img src="/images/image-emily.jpg" alt="" class="rounded-full" />
          </div>
          <!-- Client TESTIMONIALS -->
          <div class="">
            <p class="">
              We put our trust in Sunnyside and they delivered, making sure our
              needs were met and deadlines were always hit.
            </p>
          </div>
          <!-- Client Name & Title -->
          <div class="">
            <h3 class="">Emily R.</h3>
            <h4 class="">Marketing Director</h4>
          </div>
        </div>
        <!-- Client 2 -->
        <div class="">
          <!-- Client Image -->
          <div class="">
            <img src="/images/image-thomas.jpg" alt="" class="rounded-full" />
          </div>
          <!-- Client TESTIMONIALS -->
          <div class="">
            <p class="">
              Sunnyside&#39;s enthusiasm coupled with their keen interest in our
              brand&#39;s success made it a satisfying and enjoyable experience.
            </p>
          </div>
          <!-- Client Name & Title -->
          <div class="">
            <h3 class="">Thomas S.</h3>
            <h4 class="">Chief Operating Officer</h4>
          </div>
        </div>
        <!-- Client 3 -->
        <div class="">
          <!-- Client Image -->
          <div class="">
            <img src="/images/image-jennie.jpg" alt="" class="rounded-full" />
          </div>
          <!-- Client TESTIMONIALS -->
          <div class="">
            <p class="">
              Incredible end result! Our sales increased over 400% when we
              worked with Sunnyside. Highly recommended!
            </p>
          </div>
          <!-- Client Name & Title -->
          <div class="">
            <h3 class="">Jennie F.</h3>
            <h4 class="">Business Owner</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- Image Gallery -->
    <section class="">
      <!-- Image 1 -->
      <div class="">
        <img
          src="/images/desktop/image-gallery-milkbottles.jpg"
          alt=""
          class=""
        />
      </div>
      <!-- Image 2 -->
      <div class="">
        <img src="/images/desktop/image-gallery-orange.jpg" alt="" class="" />
      </div>
      <!-- Image 3 -->
      <div class="">
        <img src="/images/desktop/image-gallery-cone.jpg" alt="" class="" />
      </div>
      <!-- Image 4 -->
      <div class="">
        <img
          src="/images/desktop/image-gallery-sugarcubes.jpg"
          alt=""
          class=""
        />
      </div>
    </section>
  </main>
  <footer class="">
    <!-- Logo -->
    <!-- Social Media  -->
    <!-- Facebook -->
  </footer>
</Layout>
