---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Sunnyside agency landing page">
  <!-- Header -->
  <header
    class="bg-hero-background p-14 flex justify-between items-center bg-cover"
  >
    <div class="">
      <img src="/images/logo.svg" alt="logo" class="" />
    </div>
    <nav class="flex justify-between items-center gap-12">
      <ul
        class="text-[#fff] text-lg font-semibold leading-[1.5625rem] tracking-[-0.00806rem] flex justify-between items-center gap-[2.94rem]"
      >
        <li class=""><a href="" class="">About</a></li>
        <li class=""><a href="" class="">Services</a></li>
        <li class=""><a href="" class="">Projects</a></li>
      </ul>
      <button
        class="w-[8.75rem] h-14 bg-[#fff] rounded-[1.75rem] text-[#24303E] text-[0.9375rem] font-bold leading-[1.5625rem] tracking-[-0.00669rem] uppercase"
        >Contact</button
      >
    </nav>
  </header>
  <!-- Main -->
  <main>
    <!-- Hero Section -->
    <section
      class="bg-hero-background bg-cover bg-center pb-[40rem] flex flex-col items-center justify-center gap-24"
    >
      <h1
        class="text-[#fff] text-[3.5rem] font-black leading-normal tracking-[0.54688rem] uppercase"
      >
        We are creatives
      </h1>
      <img src="/images/icon-arrow-down.svg" alt="" class="" />
    </section>
    <!-- Transform Your Brand Section -->
    <section class="flex justify-between items-center">
      <!-- Detailes  -->
      <div
        class="ml-[10.31rem] my-[10.31rem] mr-[3.56rem] flex flex-col gap-8 w-[27.8125rem]"
      >
        <h2
          class="w-[27.8125rem]
        text-[#24303E]
        text-[2.5rem]
        font-black
        leading-normal
        tracking-[-0.01788rem]"
        >
          Transform your brand
        </h2>
        <p
          class="w-[27.8125rem] text-[#808397] text-lg font-semibold leading-[1.875rem] tracking-[-0.00806rem]"
        >
          We are a full-service creative agency specializing in helping brands
          grow fast. Engage your clients through compelling visuals that do most
          of the marketing for you.
        </p>
        <a
          href="#"
          class="text-[#24303E] text-[0.9375rem] font-black leading-[1.5625rem] tracking-[0.0625rem] uppercase underline decoration-yelowoish decoration-solid decoration-4"
        >
          Learn more</a
        >
      </div>
      <!-- Image -->
      <div class="">
        <img src="/images/desktop/image-transform.jpg" alt="" class="" />
      </div>
    </section>
    <!-- Stand out to the right audience Section -->
    <section class="flex justify-between items-center">
      <!-- Image -->
      <div class="">
        <img src="/images/desktop/image-stand-out.jpg" alt="" class="" />
      </div>
      <!-- Detailes  -->
      <div class="flex flex-col gap-8 w-[27.8125rem] mr-[10.31rem]">
        <h2
          class="w-[27.8125rem]
        text-[#24303E]
        text-[2.5rem]
        font-black
        leading-normal
        tracking-[-0.01788rem]"
        >
          Stand out to the right audience
        </h2>
        <p
          class="w-[27.8125rem] text-[#808397] text-lg font-semibold leading-[1.875rem] tracking-[-0.00806rem]"
        >
          Using a collaborative formula of designers, researchers,
          photographers, videographers, and copywriters, we’ll build and extend
          your brand in digital places.
        </p>
        <a
          href="#"
          class="text-[#24303E] text-[0.9375rem] font-black leading-[1.5625rem] tracking-[0.0625rem] uppercase underline decoration-soft-red decoration-solid decoration-4"
        >
          Learn more</a
        >
      </div>
    </section>
    <!-- Graphic Design & Photography -->
    <section class="flex">
      <div class="relative">
        <div class="">
          <img src="/images/desktop/image-graphic-design.jpg" alt="" class="" />
        </div>
        <div
          class="flex flex-col justify-center items-center gap-[1.69rem] absolute top-[22rem] left-[12rem] z-50"
        >
          <h2
            class="text-[#24554A] text-[1.75rem] font-black leading-normal tracking-[-0.0125rem]"
          >
            Graphic design
          </h2>
          <p
            class="w-[21.1875rem] text-center text-[#24554A] text-base font-semibold leading-[1.6875rem] tracking-[-0.00713rem]"
          >
            Great design makes you memorable. We deliver artwork that
            underscores your brand message and captures potential clients’
            attention.
          </p>
        </div>
      </div>
      <div class="relative">
        <div class="">
          <img src="/images/desktop/image-photography.jpg" alt="" class="" />
        </div>
        <div
          class="flex flex-col justify-center items-center gap-[1.69rem] absolute top-[22rem] left-[12rem] z-50"
        >
          <h2
            class="text-[#24554A] text-[1.75rem] font-black leading-normal tracking-[-0.0125rem]"
          >
            Photography
          </h2>
          <p
            class="w-[21.1875rem] text-center text-[#24554A] text-base font-semibold leading-[1.6875rem] tracking-[-0.00713rem]"
          >
            Increase your credibility by getting the most stunning, high-quality
            photos that improve your business image.
          </p>
        </div>
      </div>
    </section>
    <!-- CLIENT TESTIMONIALS -->
    <section class="m-40 flex flex-col justify-center items-center gap-20">
      <!-- Title -->
      <div class="">
        <h2
          class="text-[#A7AAAD] text-center text-xl font-black leading-normal tracking-[0.3125rem]"
        >
          CLIENT TESTIMONIALS
        </h2>
      </div>
      <!-- Clients Detailes -->
      <div class="flex justify-between items-center gap-[1.87rem]">
        <!-- Client 1 -->
        <div class="flex flex-col justify-center items-center gap-14">
          <!-- Client Image -->
          <div class="w-[4.5rem] h-[4.5rem]">
            <img src="/images/image-emily.jpg" alt="" class="rounded-full" />
          </div>
          <!-- Client TESTIMONIALS -->
          <div class="w-[21.875rem]">
            <p
              class="text-[#5B636D] text-lg font-semibold leading-[2rem] tracking-[-0.00806rem] text-center"
            >
              We put our trust in Sunnyside and they delivered, making sure our
              needs were met and deadlines were always hit.
            </p>
          </div>
          <!-- Client Name & Title -->
          <div
            class="text-center flex flex-col justify-center items-center gap-2"
          >
            <h3
              class="text-[#24303E] text-lg font-black leading-normal tracking-[-0.00806rem]"
            >
              Emily R.
            </h3>
            <h4
              class="text-[#A7AAAD] text-sm font-semibold leading-[1.5625rem] tracking-[-0.00625rem]"
            >
              Marketing Director
            </h4>
          </div>
        </div>
        <!-- Client 2 -->
        <div class="flex flex-col justify-center items-center gap-14">
          <!-- Client Image -->
          <div class="w-[4.5rem] h-[4.5rem]">
            <img src="/images/image-thomas.jpg" alt="" class="rounded-full" />
          </div>
          <!-- Client TESTIMONIALS -->
          <div class="w-[21.875rem]">
            <p
              class="text-[#5B636D] text-lg font-semibold leading-[2rem] tracking-[-0.00806rem] text-center"
            >
              Sunnyside’s enthusiasm coupled with their keen interest in our
              brand’s success made it a satisfying and enjoyable experience.
            </p>
          </div>
          <!-- Client Name & Title -->
          <div
            class="text-center flex flex-col justify-center items-center gap-2"
          >
            <h3
              class="text-[#24303E] text-lg font-black leading-normal tracking-[-0.00806rem]"
            >
              Thomas S.
            </h3>
            <h4
              class="text-[#A7AAAD] text-sm font-semibold leading-[1.5625rem] tracking-[-0.00625rem]"
            >
              Chief Operating Officer
            </h4>
          </div>
        </div>
        <!-- Client 3 -->
        <div class="flex flex-col justify-center items-center gap-14">
          <!-- Client Image -->
          <div class="w-[4.5rem] h-[4.5rem]">
            <img src="/images/image-jennie.jpg" alt="" class="rounded-full" />
          </div>
          <!-- Client TESTIMONIALS -->
          <div class="w-[21.875rem]">
            <p
              class="text-[#5B636D] text-lg font-semibold leading-[2rem] tracking-[-0.00806rem] text-center"
            >
              Incredible end result! Our sales increased over 400% when we
              worked with Sunnyside. Highly recommended!
            </p>
          </div>
          <!-- Client Name & Title -->
          <div
            class="text-center flex flex-col justify-center items-center gap-2"
          >
            <h3
              class="text-[#24303E] text-lg font-black leading-normal tracking-[-0.00806rem]"
            >
              Jennie F.
            </h3>
            <h4
              class="text-[#A7AAAD] text-sm font-semibold leading-[1.5625rem] tracking-[-0.00625rem]"
            >
              Business Owner
            </h4>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
